.allBC {
  height: 40px;
  overflow-x: auto;
  padding: 6px 10px;

  background-color: #fff;
  width: 100%;

  @media only screen and (min-width: 801px) {
    margin: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .breadcrumb {
    width: 100%;
    min-width: 500px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    a {
      text-decoration: none;
      color: var(--clr-text-dark);
    }

    .itemBC {
      display: flex;
      gap: 5px;
    }
    .itemBC:last-child {
      display: flex;
      color: var(--clr-primary);
      gap: 5px;
    }
  }
}

.allTagBC {
  width: 100%;
  height: 35px;
  padding: 5px 0px;
  .breadcrumb {
    display: flex;
    gap: 10px;
    font-weight: 500;
    transform: translateX(2%);

    a {
      text-decoration: none;
      color: var(--clr-text-dark);
    }

    .itemBC {
      display: flex;
      align-items: center;
      gap: 10px;

      div {
        border: 1px solid #000000;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}
.crumbBox {
  width: fit-content;
  display: flex;
  align-items: center;
}
.crumbBox:hover {
  a {
    color: var(--clr-primary);
  }
}
.divider {
  left: 0;
  width: 100%;
  position: absolute;
}
