.option {
  display: flex;
  height: 30px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  @media only screen and (min-width: 600px) {
    height: 40px;
  }
}
.option:hover,
.selected:hover {
  background-color: var(--clr-bg-light-red);
}
.selected {
  color: var(--clr-primary);
  display: flex;
  height: 30px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  @media only screen and (min-width: 600px) {
    height: 40px;
  }
}
.value {
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}
.button {
  width: 250px;
  button {
    background-color: rgb(243 244 246);
  }
  button:focus {
    background-color: var(--clr-bg-light-red);
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary);
  }
}
.dropdown {
  z-index: 297 !important;
}

.sort2 {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  gap: 10px;
  padding: 10px;
  width: 85%;
  border-radius: 5px;
  .view {
    width: 15%;
    gap: 10px;
    display: flex;
    align-items: center;
  }
  .option2 {
    width: calc(85% / 3 - 10px);
    display: flex;
    height: 30px;
    background-color: white;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    border-radius: 5px;
  }
  .option2:hover,
  .selected2:hover {
    background-color: var(--clr-bg-light-red);
  }
  .selected2 {
    border-radius: 5px;
    color: var(--clr-primary);
    background-color: var(--clr-bg-light-red);
    display: flex;
    height: 30px;
    width: calc(85% / 3 - 10px);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
  }
}
.sortContainer {
  .sort1 {
    display: none;
  }
  @media screen and (max-width: 1100px) {
    .sort1 {
      display: block;
    }
    .sort2 {
      display: none;
    }
  }
}
