.sendEmailButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.closeButton {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.comfirmBox {
  width: 60%;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  .root {
    width: 70%;
    .input {
      height: 35px;
      border-right: none !important;
      border-width: 1px;
      border-radius: 0;
      background-color: var(--mantine-color-body);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      &:focus-within {
        // animation: border-flash 5s infinite;
        border-color: var(--clr-primary);
      }

      input {
        &:focus-within {
          outline: transparent;
          border-color: transparent;
        }
      }
    }
  }
  .button {
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px;
    width: 30%;
    height: 36px;
    border: none;
    cursor: pointer;
    background: var(--clr-liner);
  }
  .button1 {
    font-size: 12px;
    color: black;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 30%;
    height: 36px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: transparent;
    border-color: #ced4da;
    cursor: pointer;
  }
  .disabledButton {
    font-size: 12px;
    color: gray;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 30%;
    height: 36px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: transparent;
    border-color: #ced4da;
    cursor: not-allowed;
    pointer-events: none;
  }
  .disabledButton2 {
    font-size: 12px;
    color: black;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 30%;
    height: 36px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(206, 203, 203);
    border: 1px solid #ced4da;
    cursor: not-allowed;
    pointer-events: none;
  }
}
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.span {
  margin-bottom: 30px;
}
.inputBox {
  margin: 30px 0px;
}
.root {
  position: relative;
}

// @keyframes border-flash {
//   0% {
//     border-bottom-color: rgb(0, 247, 255);
//     border-width: 2px;
//   }
//   25% {
//     border-bottom-color: rgb(0, 132, 255);
//     border-width: 2px;
//   }
//   50% {
//     border-bottom-color: rgb(183, 2, 255);
//     border-width: 2px;
//   }
//   75% {
//     border-bottom-color: rgb(0, 132, 255);
//     border-width: 2px;
//   }
//   100% {
//     border-bottom-color: rgb(0, 247, 255);
//     border-width: 2px;
//   }
// }
.signUp {
  text-decoration: none;
  color: var(--clr-text-primary);
  font-weight: 500;
  margin: 0;
}
