.accessoriesContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px 0px;

  .accessoriesList {
    display: flex;
    // grid-template-columns: repeat(9, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    width: 100%;
    min-width: 900px;
    flex-wrap: wrap;
    line-height: 24px;
    gap: 10px;
    justify-content: space-between;
    .accessories {
      width: calc(100% / 9 - 10px);
      border-radius: 10px;
      padding: 0px 4px;
    }
  }
}
