//css for list order
.flexBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  .itemRow {
    width: calc(100% / 3 - 10px);
    padding: 5px 15px;
    margin-bottom: 20px;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
    @media only screen and (max-width: 800px) and (min-width: 451px) {
      width: calc(50% - 5px);
    }
    @media only screen and (max-width: 450px) {
      width: 100%;
    }
    .contentBox {
      width: calc(100%);
      height: 100%;
      padding: 10px 15p;
      display: flex;
      gap: 10px;
      flex-direction: column;
      @media only screen and (min-width: 800px) {
        width: calc(100%);
      }
      p {
        margin: 0;
      }
      .contentTopBox {
        display: flex;
        gap: 10px;
        .contentTopLeftBox {
          .item1Name {
            font-weight: 700;
            margin: 5px 0px;
            font-size: 0.875rem;
            line-height: 1.25rem;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @media only screen and (min-width: 600px) {
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }
          .totalProduct {
            margin: 10px 0px;
            font-size: 0.75rem;
            line-height: 1rem;
            color: rgb(189 189 189);
          }
          .itemCode {
            margin: 10px 0px;
            font-size: 1rem;
            line-height: 1.25rem;
            color: black;
          }
          .store {
            line-height: 1.5rem;
            height: 3rem;
            font-size: 1rem;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 10px 0;
          }
          .store1 {
            line-height: 1.5rem;
            height: fit-content;
            font-size: 1rem;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 10px 0;
          }
          .itemBox {
            margin: 10px 0;
            height: fit-content;
            font-size: 1rem;
            .link {
              text-decoration: none;
              color: var(--clr-primary);
              display: -webkit-box;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              line-height: 1.5em;
            }
          }
        }
      }
      .contentBotttomBox {
        width: 100%;
        text-align: end;
        .title {
          color: var(--clr-primary);
          font-size: 0.75rem;
          line-height: 1rem;
          padding: 0.25rem 0.5rem;
          border-color: var(--clr-primary);
          border-radius: 0.5rem;
        }
      }
    }
  }
}

.header {
  background-color: var(--clr-primary);
  color: white;
  button {
    background-color: var(--clr-bright-primary);
    border-radius: 50%;
    color: white;
  }
  button:hover {
    background-color: var(--clr-bright-primary);
    border-radius: 50%;
    color: white;
  }
}
.buttonGroup {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px auto;
  .button {
    background-color: var(--clr-primary);
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 12px;
  }
  .button:hover {
    background-color: var(--clr-light-primary);
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 12px;
  }
}

.buttonGroup2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 5px auto;
  .button {
    background-color: var(--clr-primary);
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 12px;
  }
  .button:hover {
    background-color: var(--clr-light-primary);
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 12px;
  }
}
