.footerCategory {
  margin-top: 20px;
  gap: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(239, 239, 239, 0.768627451);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
    
      .header {
        padding: 10px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: var(--clr-primary);
        color: #ffffff;
        padding: 10px 10px;
        gap: 9px;
        align-items: center;
    
        p {
          font-size: 15px;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          text-transform: uppercase;
          color: white;
        }
      
    }
  .contentBox {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 500px;
    padding: 10px;
    .content {
      padding: 10px 10px 0px 10px;
      border-radius: 0.75em;
      margin: 20px;

      iframe {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%; /* Giới hạn chiều cao tối đa, có thể thay đổi giá trị này */
      }
    }
  }
  .showcontentBox {
    overflow: hidden;
    position: relative;
    max-height: none;
    padding: 10px;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 60%
  );
  // pointer-events: none;
  button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0px 5px;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 40px;
    padding-right: 40px;
    transform: translateX(-50%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-width: 0.5px;
    @media only screen and (min-width: 800px) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  button:active {
    transform: translateX(-50%)
      translateY(calc(0.0625rem * var(--mantine-scale)));
  }
  button:hover {
    color: var(--clr-primary);
    background-color: var(--clr-bg-light-red);
    border-color: var(--clr-primary);
  }
}
.buttonClose {
  bottom: 0px;
  margin: 0px 5px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 40px;
  padding-right: 40px;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 0.5px;
  @media only screen and (min-width: 800px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.buttonClose:hover {
  color: var(--clr-primary);
  background-color: var(--clr-bg-light-red);
  border-color: var(--clr-primary);
}
