.bookingRepair {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .boxBR {
    width: 100%;
  }
  .infoCustomer {
    display: flex;
    flex-direction: column;
  }

  .formInfo {
    transform: translateY(-10px);
  }
}

.dropdown {
  z-index: 1000 !important;
}

.wrapper {
  z-index: 1000 !important;
}

@media only screen and (max-width: 800px) {
  .bookingRepair {
    .header {
      top: 100px;
    }
    .boxBR {
      width: 100%;
    }
  }
}
