.chat {
  margin: 0px 10px 20px;
  padding-top: 40px;
  width: calc(100% - 70px);

  .name {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .date {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #787878;
  }
  .comment {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 3px;
    color: #1f2123;
  }
  .reply {
    cursor: pointer;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0052cc;
  }
}
.avtbox {
  height: 70px;
  width: 70px;
  background-color: #ebf0f8;
  font-size: 24px;
  color: #3a506d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    border-radius: 50%;
  }
}
.flexbox {
  margin-top: -20px;
}

@media only screen and (max-width: 801px) {
  .avtbox {
    width: 45px;
    height: 45px;
    object-fit: cover;
  }
}
