.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(black, white);
  font-weight: 500;
  font-size: 15;
}

@media screen and (max-width: 600px) {
  .link {
    height: 42px;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.link:hover {
  background-color: light-dark(dark, gray);
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-spacing-md);
}

.subLink:hover {
  background-color: light-dark(black, white);
}

.subLink:active {
  /* CSS cho trạng thái active */
  /* Bạn có thể thay thế bằng các thuộc tính bạn muốn */
}

.dropdownFooter {
  background-color: light-dark(black, white);
  margin: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md) * 2;
  /* padding-bottom: var(--mantine-spacing-xl); */
  border-top: 1px solid light-dark(black, white);
}

.hiddenMobile {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.hiddenDesktop {
  @media screen and (min-width: 601px) {
    display: none;
  }
}
.main {
  margin-top: 60px;
  background-color: white;
}
@media only screen and (max-width: 801px) {
  .main {
    margin-top: 100px;
  }
}
