.registerPage {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  .container {
    margin: 0 auto;
    padding: 0 5px;
    display: block;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    .topNavBar {
      .navBarContainer {
        display: flex !important;
        align-items: center;
        min-height: 53px;
        padding: 10px;
        .navBarTitle {
          margin: auto;
          font-weight: 700;
          font-size: 22px;
          text-align: center;
        }
      }
    }
    .registerImg {
      text-align: center;
    }
    .loginForm {
      .formGroup {
        .itemDescription {
          color: #737373;
          font-size: 12px;
          font-style: italic;
          margin-top: 5px;
        }
        .checkBox {
        }
      }
    }
    .btn,
    .btnDisabled {
      width: 100%;
      font-size: 14px;
      cursor: pointer;
      display: block;
      background: var(--clr-primary);
      border: none;
      border-radius: 5px;
      text-align: center;
      color: #fff;
      font-weight: 600;
      width: 100%;
      margin: 20px auto 0;
    }

    .btnDisabled {
      cursor: not-allowed;
      color: black;
      background-color: var(--clr-bg-gray);
    }

    .orLogin {
      margin: 1rem 0 0.5rem 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      .line {
        flex: 1;
        height: 1px;
        background-color: #dbdbdb;
      }
      p {
        padding: 0.5rem;
        margin: 0;
      }
    }
    .blockLogin {
      display: flex !important;
      text-align: center;
      gap: 30px;
      justify-content: center;
      .buttonLoginGoogle,
      .buttonLoginZalo {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 0;
        border-radius: 10px;
        font-size: 18px;
      }
    }

    .signIn {
      text-decoration: none;
      color: var(--clr-text-primary);
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.inputBox {
  margin: 30px 0px;
}

.root {
  position: relative;
  margin-top: 5px;
}

.input {
  height: 35px;
  margin: 15px 0;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom-width: 2px;
  border-radius: 0;
  padding-left: 0 !important;
  background-color: var(--mantine-color-body);
  &:focus-within {
    border-color: var(--clr-light-primary);
    padding-left: 0 !important;
    outline: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    animation: border-flash 5s infinite;
  }

  input {
    padding-left: 0 !important;
    &:focus-within {
      outline: transparent;
      border-color: transparent;
    }
  }
}

// .label {
//   position: absolute;
//   z-index: 1;
//   pointer-events: none;
//   top: 5px;
//   color: var(--mantine-color-placeholder);
//   font-weight: 400;
//   font-size: 15px;
//   transition: color 100ms ease, transform 100ms ease, font-size 100ms ease;

//   &[data-floating] {
//     transform: translateY(-30px);
//     font-size: 15px;
//     color: var(--mantine-color-text);
//   }
// }

.header {
  background-color: var(--clr-primary);
  color: white;
  button {
    background-color: var(--clr-bright-primary);
    border-radius: 50%;
    color: white;
  }
  button:hover {
    background-color: var(--clr-bright-primary);
    border-radius: 50%;
    color: white;
  }
}
