.saleBackground {
  background: var(--clr-liner) !important;
  // padding-bottom: 5px;
  // padding-top: 5px;
  border-radius: 0.375rem;
  width: 100%;
  gap: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
  .flashSaleTitle {
    width: calc(10% - 10px);
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    display: flex;
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
    @media only screen and (min-width: 800px) {
      flex-direction: row;
    }

    .title {
      font-size: 1.3rem;
      font-weight: 700;
      text-align: center;
      color: white;
      text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.2);
      @media only screen and (max-width: 820px) and (min-width: 401px) {
        font-size: 2.4rem;
      }
      @media only screen and (max-width: 400px) {
        font-size: 2rem;
      }
    }
  }
  .flashSaleItem {
    width: calc(100% - 10px);
    
    border-radius: 10px;
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
  }
}
