.giftsIncentives {
  border: 1px solid var(--clr-border-red-pink);
  border-radius: 12px;
  margin-bottom: 20px;
  .giftsIncentivesWrapper {
    padding: 3px 30px;
  }
  .giftsIncentivesHeader {
    display: flex;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--clr-bg-light-red);
    color: #ffffff;
    padding: 6px 10px;
    gap: 9px;
    align-items: center;

    p {
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      color: var(--clr-light-primary);
    }
  }
}
.giftsIncentivesItem {
  padding: 10px 0;
  border-bottom: 1px dashed #dcaeae;

  p {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    width: calc(100% - 22px);
  }

  span {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.giftsIncentivesCount {
  display: flex;
  justify-content: center;
  background-color: var(--clr-light-primary);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  color: #ffffff;
  align-items: center;
}
.extra {
  font-size: 13px !important;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--clr-light-primary);

  cursor: pointer;
  display: flex;
  align-items: center;
}
