.productCard {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  border-radius: 0.75rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: inherit;
  text-decoration: inherit;
  border: solid 1px var(--clr-border-gray);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(221, 221, 221, 1);
  .salePercent {
    background-color: var(--clr-primary);
    position: absolute;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 22px;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
      0 2px 6px 2px rgba(60, 64, 67, 0.15);
    .percentText {
      color: var(--clr-text-white);
      font-size: 11px;
      font-weight: 700;
    }
    @media only screen and (max-width: 500px) {
      height: 18px;
    }
  }

  .infoBox {
    max-width: 250px;
    width: 100%;
    margin: auto;
    padding: 5px;
    @media only screen and (max-width: 400px) {
      padding: 5px 5px 5px 5px;
      .codeText {
        display: none;
      }
      .imgBox {
        padding: 0;
      }
    }
    .link {
      text-decoration: none;
      color: black;
      .imgBox {
        padding: 5px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        display: flex;
        position: relative;
        img {
          object-fit: scale-down;
          max-width: 180px;
          width: 100%;
          max-height: 180px;
          height: auto;
          aspect-ratio: 1 / 1;
        }
      }

      .nameBox {
        margin-top: 10px;
        width: 100%;
        margin-bottom: 5px;
        @media only screen and (min-width: 400px) {
          padding: 0px 5px;
        }
        .nameText {
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 1rem;
          color: var(--clr-text-brightblack);
          height: 2rem;
          // text-align: center;
          overflow: hidden;
          margin: 0;
          display: -webkit-box;
          max-width: 400px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          @media only screen and (max-width: 700px) {
            font-size: 0.875rem;
            line-height: 1.25rem;
            height: 40px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
          }
        }
        .priceBox {
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          display: flex;
          margin: 5px 0;
          .price {
            font-weight: 700;

            display: inline-block;
            color: black;
            font-size: 1.15rem;
            line-height: 1.25rem;
            @media only screen and (max-width: 600px) {
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
          }
          .prePrice {
            color: var(--clr-text-brightblack);
            text-decoration-line: line-through;
            font-weight: 500;
            font-size: 13px;
            @media only screen and (max-width: 500px) {
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
          }
          .prePriceNotSale {
            color: transparent;
            text-decoration-line: line-through;
            font-weight: 500;
            font-size: 13px;
            @media only screen and (max-width: 500px) {
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
          }
          .prePrice2 {
            color: var(--clr-primary);
            font-weight: 500;
            font-size: 13px;
            margin-left: 5px;
            @media only screen and (max-width: 500px) {
              font-size: 0.675rem;
              line-height: 1.05rem;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  .inventoryText {
    display: flex;
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.8rem;
    align-items: center;
    gap: 5px;
    margin-top: 0;
    @media only screen and (max-width: 500px) {
      font-size: 0.7rem;
      line-height: 0.8rem;
    }
  }
  .ratingBox {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 24px;
    display: flex;
    gap: 10px;
    .code {
      background-color: #f1f1f1;
      padding: 2px 5px;
      font-weight: 500;
      font-size: 0.6rem;
      @media only screen and (max-width: 500px) {
        font-size: 0.7rem;
        line-height: 0.8rem;
      }
    }
  }
}
.productCard:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.availables {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  .addCartButton {
    background-color: var(--clr-primary);
    height: 25px;
    width: 25px;
    color: white;
    padding: 2px;
    border-radius: 50%;
  }
}
// @media only screen and (max-width: 717px) {
//   .productCard {
//     width: 100%;
//     height: 100%;
//     cursor: pointer;
//     display: flex;
//     border-radius: 0.75rem;
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: column;
//     position: relative;
//     color: inherit;
//     text-decoration: inherit;
//     border: solid 1px var(--clr-border-gray);
//     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
//       0 1px 2px -1px rgba(0, 0, 0, 0.1);
//     border-width: 1px;
//     background-color: rgba(255, 255, 255, 1);
//     border-color: rgba(221, 221, 221, 1);
//     .salePercent {
//       background-color: var(--clr-primary);
//       position: absolute;
//       border-top-left-radius: 0.5rem;
//       border-bottom-right-radius: 0.5rem;
//       justify-content: center;
//       align-items: center;
//       width: 70px;
//       height: 22px;
//       z-index: 1;
//       top: 0;
//       left: 0;
//       display: flex;
//       box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
//         0 2px 6px 2px rgba(60, 64, 67, 0.15);
//       .percentText {
//         color: var(--clr-text-white);
//         font-size: 11px;
//         font-weight: 700;
//       }
//       @media only screen and (max-width: 500px) {
//         height: 18px;
//       }
//     }

//     .infoBox {
//       max-width: 230px;
//       width: 100%;
//       margin: auto;
//       padding: 15px 5px 5px 5px;
//       @media only screen and (max-width: 400px) {
//         padding: 15px 3px 5px 3px;
//       }
//       .imgBox {
//         padding: 5px;
//         overflow: hidden;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         height: fit-content;
//         display: flex;
//         position: relative;
//         img {
//           object-fit: cover;
//           max-width: 145px;
//           width: 100%;
//           max-height: 145px;
//           height: auto;
//           aspect-ratio: 1 / 1;
//         }
//       }

//       .guaranteeBox {
//         justify-content: space-evenly;
//         align-items: center;
//         width: 100%;
//         height: 26px;
//         display: flex;
//         .guarantee {
//           justify-content: center;
//           align-items: center;
//           display: flex;
//           max-width: 50%;
//           color: var(--clr-text-green);
//           font-weight: 700;
//           gap: 2px;

//           span {
//             font-weight: 600;
//             margin-left: 0.25rem;
//             font-size: 10px;
//             @media only screen and (min-width: 600px) {
//               font-size: 0.75rem;
//               line-height: 1rem;
//             }
//           }
//         }
//         .timeFix {
//           justify-content: center;
//           align-items: center;
//           display: flex;
//           max-width: 50%;
//           color: var(--clr-primary);
//           font-weight: 700;
//           gap: 2px;

//           span {
//             font-weight: 600;
//             margin-left: 0.25rem;
//             font-size: 10px;
//             @media only screen and (min-width: 600px) {
//               font-size: 0.75rem;
//               line-height: 1rem;
//             }
//           }
//         }
//       }

//       .nameBox {
//         margin-top: 10px;
//         width: 100%;
//         @media only screen and (min-width: 400px) {
//           padding: 0px 5px;
//         }
//         .nameText {
//           font-weight: 700;
//           font-size: 0.75rem;
//           line-height: 1rem;
//           color: var(--clr-text-brightblack);
//           height: 2.5rem;
//           text-align: center;
//           overflow: hidden;
//           margin: 0;
//           display: -webkit-box;
//           max-width: 400px;
//           -webkit-line-clamp: 3;
//           -webkit-box-orient: vertical;
//           overflow: hidden;
//           text-overflow: ellipsis;
//           @media only screen and (min-width: 600px) {
//             font-size: 0.875rem;
//             line-height: 1.25rem;
//             height: 40px;
//           }
//         }
//         .priceBox {
//           justify-content: center;
//           align-items: center;
//           width: 100%;
//           display: flex;
//           .price {
//             font-weight: 700;
//             margin-left: 2px;
//             display: inline-block;
//             color: var(--clr-primary);
//             font-size: 1.75rem;
//             line-height: 1rem;
//             @media only screen and (min-width: 500px) {
//               font-size: 0.875rem;
//               line-height: 1.25rem;
//             }
//           }
//           .prePrice {
//             color: var(--clr-text-brightblack);
//             text-decoration-line: line-through;
//             font-weight: 500;
//             font-size: 11px;
//             @media only screen and (min-width: 400px) {
//               font-size: 0.875rem;
//               line-height: 1.25rem;
//               margin-left: 5px;
//             }
//           }
//         }
//       }
//     }

//     .saleBox {
//       padding: 5px;
//       width: 100%;
//       height: 40px;
//       margin-bottom: 5px;
//       margin-top: 5px;
//       @media only screen and (min-width: 500px) {
//         height: 45px;
//       }
//       .sale {
//         padding: 5px;
//         background-color: var(--clr-bg-gray-dark);
//         border-color: var(--clr-border-gray);
//         border-width: 1px;
//         border-radius: 6px;
//         width: 100%;
//         height: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         .textEclip {
//           overflow: hidden;
//           display: -webkit-box;
//           text-overflow: ellipsis;
//           -webkit-line-clamp: 2;
//           -webkit-box-orient: vertical;
//           color: var(--clr-text-brightblack);
//           line-height: 12px;
//           font-size: 9px;
//           text-align: center;
//           @media only screen and (min-width: 500px) {
//             line-height: 14px;
//             font-size: 11px;
//           }
//         }
//       }
//     }

//     .ratingBox {
//       padding-left: 10px;
//       padding-right: 10px;
//       padding-bottom: 5px;
//       justify-content: center;
//       align-items: center;
//       width: 100%;
//       height: 24px;
//       display: flex;
//     }
//   }
// }
