@function rem($pixels, $base-font-size: 16px) {
  @return ($pixels / $base-font-size) * 1rem;
}

.sideBarContainer {
  width: 100%;
  margin-bottom: 0;
  margin-right: 10px;
  position: sticky;
  left: 0;
  top: 80px;
  flex-shrink: 0;
  height: fit-content;
  @media (max-width: 1000px) {
    z-index: 100;
    top: 115px;
  }
  .sideBarContent {
    width: 100%;
    min-height: 65px;
    margin-bottom: 10px;
    .navbar {
      height: fit-content;
      width: 100%;
      padding-bottom: 0;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      @media only screen and (min-width: 999px) {
        border-radius: 1rem;
        background-color: white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(239, 239, 239, 0.77);
      }
      .links {
        width: 100%;

        .linksInner {
          display: flex;
          flex-direction: column;
          width: 100%;
          overflow-y: auto;
          @media only screen and (max-width: 999px) {
            display: flex;
            flex-direction: row;
            gap: 10px;
            overflow-x: auto;
          }
          .activeLink {
            background-color: var(--clr-bg-light-red);
            color: var(--clr-primary);
            text-decoration: none;
            font-weight: 700;
            @media only screen and (max-width: 999px) {
              background-color: transparent;
              color: var(--clr-primary);
            }
          }
          .typeBox {
            color: black;
            text-decoration: none;
            padding: 5px 0;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 0.875rem;
            line-height: 1.25rem;
            min-width: fit-content;
            padding: 5px var(--mantine-spacing-md);
            @media only screen and (max-width: 1000px) {
              flex-direction: column;
              width: fit-content;
              min-width: 150px;
              border-radius: 12px;
              .link {
                text-align: center;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
            .link {
              width: calc(100% - 40px);
              padding-left: 5px;
              a {
                text-decoration: none;
                color: black;
                font-weight: 600;
              }
            }
            &:hover {
              font-weight: 600;
              background-color: var(--clr-bg-light-red);
              color: var(--clr-primary);
              .link {
                a {
                  color: var(--clr-primary);
                  font-weight: 600;
                }
              }
              &:first-child {
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
              }
              &:last-child {
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
