.title {
  border-radius: 6px;

  Label {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    // letter-spacing: 0em;
    text-align: left;
  }
}

.heading {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}
.infoText {
  font-size: 14px;
  color: #787878;
  margin: 30px auto;
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.inputBox {
  margin: 60px 0px;
}
.root {
  position: relative;
  margin-top: 5px;
}

.input {
  height: 35px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom-width: 2px;
  border-radius: 0;
  padding-left: 0 !important;
  background-color: var(--mantine-color-body);
  &:focus-within {
    padding-left: 0 !important;
    outline: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    // animation: border-flash 5s infinite;
    border-bottom-color: var(--clr-primary);
  }

  input {
    padding-left: 0 !important;
    &:focus-within {
      outline: transparent;
      border-color: transparent;
    }
  }
}

.label {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 5px;
  color: var(--mantine-color-placeholder);
  font-weight: 400;
  font-size: 15px;
  transition: color 100ms ease, transform 100ms ease, font-size 100ms ease;

  &[data-floating] {
    transform: translateY(-30px);
    font-size: 15px;
    color: var(--mantine-color-text);
  }
}

.button {
  margin: 2% 0;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  border: none;
  background: var(--clr-liner);
}

.header {
  background-color: var(--clr-primary);
  color: white;
  button {
    background-color: var(--clr-bright-primary);
    border-radius: 50%;
    color: white;
  }
  button:hover {
    background-color: var(--clr-bright-primary);
    border-radius: 50%;
    color: white;
  }
}

// @keyframes border-flash {
//   0% {
//     border-bottom-color: rgb(0, 247, 255);
//     border-width: 2px;
//   }
//   25% {
//     border-bottom-color: rgb(0, 132, 255);
//     border-width: 2px;
//   }
//   50% {
//     border-bottom-color: rgb(183, 2, 255);
//     border-width: 2px;
//   }
//   75% {
//     border-bottom-color: rgb(0, 132, 255);
//     border-width: 2px;
//   }
//   100% {
//     border-bottom-color: rgb(0, 247, 255);
//     border-width: 2px;
//   }
// }
